.footer-style {
  height: 250px;
  position: relative;
  padding: 20px;
  background-color: #333333;
  color: aliceblue;
}
.site-info {
  background: #08080b;
  text-align: center;
  color: aliceblue;
  padding: 2px 0;
}
.social-site {
  background-color: #333333;
  padding: 2px;
  color: wheat;
  text-align: center;
}
